* {
    box-sizing: border-box;
}

html {
    background: black;
    color: $white;
    font-family: $crimson;
    min-height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
}

#__nuxt {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapAll {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}

.wrapContent {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.text {
    > * {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.btn {
  background: rgba($lightGrey, 0.85);
  border: 1px solid $lightGrey;
  font-family: $crimson;
  color: $darkGrey;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.5em 1.5em;
  cursor: pointer;
  width: 100%;
  transition: background-color $t1, border-color $t1, color $t1;

  &:hover {
    background: $lightGrey;
    color: $black;
  }

  &_right {
    color: $white;
    background: $green;
    border-color: $green;
    pointer-events: none;

    &:hover {
      color: $white;
      background: $green;
    }
  }
  
  &_wrong {
    color: $white;
    background: $red;
    border-color: $red;
    pointer-events: none;

    &:hover {
      color: $white;
      background: $red;
    }
  }
}